$color-primary: #FFD740;
$color-secondary: rgb(219, 172, 3);
$color-secondary-text: #616161;

@media screen and (max-width: 992px){
    html {
        font-size: 250%;
    }
    .Biography__presentaion {
        display: block;
    }
    .Detail__presentaion {
        display: none;
    }
}

@media screen and (min-width: 992px){
    html {
        font-size: 100%;
    }
    .Biography__presentaion {
        display: none;
    }
    .Detail__presentaion {
        display: block;
    }
}

.Biography {
    padding: 0rem;
    background-color: $color-primary;
    text-align: center;
    &__pdp {
        max-width: 75%;
        margin: 1rem;
        border-radius: 100rem;
        border: solid 0.25rem $color-secondary;
    }
    &__presentaion{
        padding-left: 2.25rem;
        padding-bottom: 1.75rem;
        text-align: left;
        font-size: 1.2rem;
        &--nomprenom {
            font-size: 2rem;
        }
        &--nom {
            color: #8D6E63;
            font-weight: bold;
        }
        &--underline {
            border-bottom: 1px solid #8D6E63;
        }
    }
    &__button {
        padding: 0.25rem;
        background-color: #424242;
        color: $color-primary;
        max-width: 100%;
        font-size: 1.5rem;
        cursor: pointer;
        transition: background-color 400ms;
        &:hover {
            background-color: #757575;
            color: rgb(221, 186, 60);
        }
    }
    &__contenu {
        display: none;
        text-align: left;
        padding-left: 0.85rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &--appdm {
            display: block;
        }
        &--loisir {
            text-align: center;
        }
        &--title {
            font-weight: bold;
        }
        &--icone {
            margin: 0.75rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
}

.Detail {
    padding-top: 3rem;
    padding-right: 2rem;
    &__presentaion{
        padding-left: 2.25rem;
        padding-bottom: 1.75rem;
        text-align: left;
        font-size: 2.2rem;
        &--nomprenom {
            font-size: 4rem;
        }
        &--nom {
            color: $color-primary;
            font-weight: bold;
        }
        &--prenom {
            font-weight: 100;
        }
        &--sstitre {
            color: $color-secondary-text;
        }
        &--underline {
            border-bottom: 2px solid $color-primary;
        }
    }
    &__contenu{
        margin-left: 4rem;
        &--titre {
            width: 90%;
            margin-top: 2.5rem;
            padding-left: 1rem;
            padding-bottom: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
            display: inline-block;
            color: $color-secondary-text;
            border-bottom: 1px solid $color-primary;
            &--icone {
                color: $color-primary;
                padding-right: 2rem;
            }
        }
        &--ligne {
            margin-top: 2rem;
        }
        &--dot {
            text-align: right;
            color: $color-secondary;
            margin-left: 1rem;
            margin-right: 1.75rem;
        }
    }
}