@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(police/ubuntu.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	background-color: #D8D8D8;
}

h1, h2 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.header_style {
	color : #FAFAFA;
	background-color: #8258FA;
	margin-top: 2vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
	box-shadow: 0px 0px 12px #555;
}

img {
	border-radius: 5px;
}

.arguments {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

footer {
	text-align: center;
	color: #FAFAFA;
}

.image_fond {
	padding-bottom: 5vh;
}

.titre_footer {
	margin-top: 5vh;
}

.footer-logo-right {
	padding-top: auto;
}

.footer-logo-left {
	text-align: right;
}

.footer-text {
	text-align: left;
}